{% extends 'base.html.twig' %}
{% block head %}{% endblock  %}
{% block body %}
{% form_theme form _self  %}
<div class="container col-12 mt-5">
    <div class="row card col-5">
        <div class="panel-primary bg-info fs-2 text-center text-uppercase">{{user.Pseudo}}</div>
        <div class="body">
            <div class="form-group mt-3">
                {{ include ('base/data.html.twig', {form: form,button:('Valider')} )}}
            </div>
        </div>
    </div>
</div>
{% endblock %}